.card{
    border-radius: 5px;
    // background-color: pink;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    &-header{
        // aspect-ratio: 16/9;
        // background-color: #eee;
    }

    &-body{
        padding: 10px;
        background-color: #fff;
    }

    &-footer{
        // padding-bottom: 20px;
        // background-color: red;
    }
}